[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
coreapi-cli = "*"
Django = "*"
django-allauth = "*"
django-cors-headers = "*"
django-environ = "*"
django-rest-auth = "*"
django-storages = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
drfpasswordless = "*"
"psycopg2" = "*"
zappa = "*"
zappa-django-utils = "*"
whitenoise = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
