[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coreapi-cli= "*"
Django = "*"
django-allauth = "*"
django-cors-headers = "*"
django-environ = "*"
django-rest-auth = "*"
django-storages = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
"psycopg2" = "*"
zappa = "*"
drfpasswordless = "*"

[dev-packages]

[requires]
python_version = "3.6"