[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "*"
flake8 = "*"
pytest = "*"
pytest-runner = "*"
pytest-cookies = "*"
tox = "*"

[dev-packages]

[requires]
python_version = "3.6"
