boto3
coreapi-cli
Django
django-allauth
django-cors-headers
django-environ
django-rest-auth
django-storages
djangorestframework
djangorestframework-jwt
drfpasswordless
psycopg2
zappa
zappa-django-utils
whitenoise
